.page {
  display: grid;
  grid-template-rows: repeat(3, 7.49cm);
  grid-template-columns: repeat(3, 5.66cm);
  gap: 24pt;
  align-content: space-around;
  justify-content: space-between;
  color: black;
}

@media screen {
  .container {
    padding: 0 2rem;
    background-color: #007ef1;
  }

  .main {
    min-height: 100vh;
    padding: 8rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page {
    border-radius: 8px;
    margin: 12pt 0;
    padding: 24pt;
    background-color: white;
  }
}

@media print {
  .page {
    page-break-after: always;
  }
}
