@font-face {
  font-family: 'Komika Axis';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/Komika Axis.woff') format('woff');
}

.page {
  display: grid;
  grid-template-rows: repeat(3, 7.49cm);
  grid-template-columns: repeat(3, 5.66cm);
  gap: 24pt;
  align-content: space-around;
  justify-content: space-between;
  color: black;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #c0c0c0;
  font-family: 'Komika Axis';
}

.title {
  font-size: 20pt;
  text-decoration: underline;
}

.brand {
  font-size: 13pt;
}

.description {
  font-size: 11pt;
}

.size {
  font-size: 11pt;
}

.price {
  font-size: 34pt;
}

.saving {
  font-size: 12pt;
}

.savingSubtext {
  font-size: 10pt;
}

.endDate {
  font-sizt: 8pt;
}

.barcode {
  font-family: sans-serif;
  font-size: 10pt;
}

@media screen {
  .container {
    padding: 0 2rem;
    background-color: #007ef1;
  }

  .main {
    min-height: 100vh;
    padding: 8rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page {
    border-radius: 8px;
    margin: 12pt 0;
    padding: 24pt;
    background-color: white;
  }
}

@media print {
  .page {
    page-break-after: always;
  }
}
