.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #c0c0c0;
  font-family: 'Komika Axis';
  text-align: center;
}

.input {
  all: inherit;
  width: 100%;
}

.title {
  font-size: 20pt;
  text-decoration: underline;
}

.brand {
  margin-top: 4pt;
  font-size: 13pt;
}

.description {
  font-size: 11pt;
}

.size {
  font-size: 11pt;
}

.price {
  font-size: 34pt;
}

.saving {
  font-size: 12pt;
}

.savingSubtext {
  font-size: 10pt;
}

.endDate {
  font-size: 8pt;
}

.barcode {
  margin-top: 2pt;
  font-family: sans-serif;
  font-size: 10pt;
}
